@import '../../app/globals.scss';

.carousel {
  padding: 20px 3%;
  margin-bottom: 20px;

  @include for-tablet-portrait-up {
    padding: 40px 3%;
    margin-bottom: 40px;
  }
}

.carousel--title {
  color: var(--c-ultra-violet);
  font-weight: 400;
  text-align: center;
  font-size: var(--headline-l);
  line-height: 0.8;
  @include font-titles;

  @include for-tablet-portrait-up {
    font-size: 36px;
  }

  @include screen-desktop {
    font-size: 45px;
  }
}

.carousel--shadow {
  position: absolute;
  pointer-events: none;
  top: 0;
  z-index: 10;

  height: 100%;
  width: 40%;

  background: linear-gradient(
    90deg,
    rgba(217, 207, 198, 0) 10%,
    rgba(217, 207, 198, 0.0576) 22%,
    rgba(217, 207, 198, 0.4096) 43%,
    rgba(217, 207, 198, 0.81) 58%,
    #d9cfc6 65%
  );

  @include screen-desktop {
    width: 40%;
  }
}

.carousel--products-shading {
  position: relative;
  max-width: 100%;
  overflow-x: clip;
}

.carousel--shadow-left {
  left: -6%;
  transform: rotate(180deg);
}

.carousel--shadow-right {
  right: -6%;
}
