@import '../../app/globals.scss';

.slick-slider {
  display: flex !important;
  align-items: center;
}

.slick-slide {
  box-sizing: border-box !important;
  transform: scale(0.9);
  transition: all 0.4s ease-in-out;
  height: auto;
}

.slick-slide > div {
  transition: all 0.4s ease-in-out;
}

.slick-center {
  transform: scale(1);
}
