@import '../../app/globals.scss';

.cart {
  position: absolute;
  bottom: 0;
  right: 4%;
  z-index: 10;

  min-width: 320px;
  width: 85vw;
  max-width: 390px;
  padding-top: 28px;

  font-size: var(--xs);

  background-color: var(--bg);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease,
    visibility 0.4s ease;

  box-shadow: 12px 12px 24px 0px #00000040;

  @include for-tablet-portrait-up {
    font-size: var(--sm);
  }
}

.cart--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding-bottom: 28px;
  min-height: 250px;

  color: var(--c-ultra-violet);

  h3 {
    margin: 0 auto;
  }
}

.cart--info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 2px solid var(--c-ultra-violet);
  padding: 14px 32px 20px;
  margin-top: 20px;
}

.cart--exit {
  opacity: 0;
  visibility: hidden;
  transform: translateY(70%);
}

.cart--entry {
  opacity: 100;
  visibility: visible;
  transform: translateY(100%);

  @include screen-desktop {
    transform: translateY(96%);
  }
}

.cart--products {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 350px;
  overflow-y: auto;

  @include for-tablet-portrait-up {
    scrollbar-width: thin;
  }
}

.cart--product {
  display: flex;
  gap: 10px;
  padding: 8px 20px;
  background-color: var(--c-persian-orange);
  color: var(--c-linen-texts);
  height: 110px;
  min-height: 110px;
  @include font-titles;

  @include for-tablet-portrait-up {
    gap: 0;
  }
}

.cart--product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4px;
  flex-grow: 1;
  font-weight: 400;

  @include for-tablet-portrait-up {
    padding-top: 8px;
  }
}

.cart--product-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  // min-width: 67px;
}

.cart--product-delete {
  width: 20px;
}

.icons--hover {
  transition: transform 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.cart--product-promo {
  font-size: var(--xs);
  margin-left: 12px;
  margin-top: 4px;
}

.cart--product-imageBox {
  position: relative;
  height: 100%;
  width: 28%;
  min-width: 80px;
}

.cart--product-quantityBox {
  display: flex;
  align-items: center;
  gap: 8px;

  .quantity--btns {
    color: var(--c-linen-texts);

    &:disabled {
      opacity: 0.5;
    }
  }
}

.cart--product-quantity {
  margin-top: 4px;
  width: 16px;
  text-align: center;
}

.cart--product-image {
  object-fit: contain;
}

.cart--total {
  display: flex;
  justify-content: space-between;
  font-size: var(--md);
  font-weight: 700;
  color: var(--c-ultra-violet);
}

.cart--product-price {
  text-wrap: nowrap;
}

.cart {
  .cart--button-checkout,
  .cart--button-cart {
    position: relative;
    height: 40px;
    font-size: var(--sm);
    font-weight: 700;
  }

  .cart--button-checkout {
    background-color: var(--c-persian-orange);
    color: var(--c-linen-texts);

    &:hover,
    &:focus {
      background-color: lighten(#c38060, 5%);
      cursor: pointer;
    }
  }

  .cart--button-cart {
    background-color: var(--bg);
    border: 2px solid var(--c-ultra-violet);
    color: var(--c-ultra-violet);

    &:hover,
    &:focus {
      background-color: darken(#d9cfc6, 5%);
      cursor: pointer;
    }
  }
}
