@import '../../app/globals.scss';

.cart {
  position: absolute;
  bottom: 0;
  right: 4%;
  z-index: 10;

  width: 85vw;
  max-width: 450px;
  padding-top: 28px;

  background-color: var(--bg);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease,
    visibility 0.4s ease;

  box-shadow: 12px 12px 24px 0px #00000040;

  @include for-tablet-portrait-up {
    max-width: 350px;
  }
}

.cart--info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 2px solid var(--c-ultra-violet);
  padding: 14px 32px 20px;
  margin-top: 20px;
}

.cart--exit {
  opacity: 0;
  visibility: hidden;
  transform: translateY(70%);
}

.cart--entry {
  opacity: 100;
  visibility: visible;
  transform: translateY(100%);

  @include screen-desktop {
    transform: translateY(96%);
  }
}

.cart--products {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 350px;
  overflow-y: auto;

  @include for-tablet-portrait-up {
    scrollbar-width: thin;
  }
}

.cart--product {
  display: flex;
  gap: 10px;
  padding: 8px 20px;
  background-color: var(--c-persian-orange);
  height: 110px;
  min-height: 110px;
}

.cart--product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8px;
  flex-grow: 1;
  font-weight: 400;
  color: var(--c-linen-texts);
  @include font-titles;
}

.cart--product-delete {
  transition: transform 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.cart--product-promo {
  margin-left: 12px;
  margin-top: 4px;
}

.cart--product-imageBox {
  position: relative;
  height: 100%;
  width: 28%;
}

.cart--product-image {
  object-fit: contain;
}

.cart--total {
  display: flex;
  justify-content: space-between;
  font-size: var(--md);
  font-weight: 700;
  color: var(--c-ultra-violet);
}

.cart {
  .cart--button-checkout,
  .cart--button-cart {
    position: relative;
    height: 40px;
    font-size: var(--sm);
    font-weight: 700;
  }

  .cart--button-checkout {
    background-color: var(--c-persian-orange);
    color: var(--c-linen-texts);

    &:hover,
    &:focus {
      background-color: lighten(#c38060, 5%);
      cursor: pointer;
    }
  }

  .cart--button-cart {
    background-color: var(--bg);
    border: 2px solid var(--c-ultra-violet);
    color: var(--c-ultra-violet);

    &:hover,
    &:focus {
      background-color: darken(#d9cfc6, 5%);
      cursor: pointer;
    }
  }
}
