@import '../../app/globals.scss';

.detail--controls .control--button {
  font-size: var(--md);
  padding: 6px 16px;

  @include screen-desktop {
    font-size: var(--lg);
  }
}

.detail--labels {
  display: flex;
  gap: 12px;
  width: 100%;

  > div {
    width: 32%;
    max-width: 110px;
  }

  label {
    width: 100%;
    font-size: var(--xs);

    @include for-tablet-portrait-up {
      font-size: var(--sm);
    }
  }
}

.detail--controls {
  display: flex;
  gap: 12px;
}

.detail--price {
  @include font-titles;
  font-size: var(--lg);
}
