@import '../../../app/globals.scss';

.styled--button {
  padding: 6px 10px;
  font-size: 18px;

  @include button-basic-styles;
}

.has-icon {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;

  @include screen-desktop {
    padding: 10px 14px;
    gap: 13px;
  }
}

.styled--button-icon {
  width: 14px;
  height: auto;
  margin-top: 4px;
}

.styled--buton-muiIcon {
  margin-top: 4px;
}
