@import '../../globals.scss';

.cartPage {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 16px;
  gap: 16px;
  color: var(--c-ultra-violet);

  @include screen-desktop {
    flex-direction: row;
  }
}

.cartPage--empty {
  color: var(--c-ultra-violet);
  padding: 12px;

  @include screen-desktop {
    padding: 24px;
  }
}

.cartPage--products-empty {
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  align-items: center;

  @include screen-desktop {
    margin: 200px auto;
  }
}

.cartPage--extended {
  padding: 16px 0;
  @include screen-desktop {
    padding: 16px 16px 16px 0;
    flex-grow: 1;
    border-right: 2px solid var(--c-ultra-violet);
  }
}

.cartPage .cartPage--button-back {
  flex-direction: row-reverse;
  padding: 6px 8px 6px 2px;
  gap: 2px;
}

.cartPage--products-titles {
  display: none;

  @include screen-desktop {
    display: flex;
    width: 100%;
    gap: 24px;

    p:not(:first-child) {
      width: 100px;
      text-align: center;
    }

    p:first-child {
      flex-grow: 1;
    }

    @include font-titles;
  }
}

.cartPage--products-list {
  max-height: 450px;
  overflow-y: scroll;
  scrollbar-width: thin;
  margin-bottom: 16px;

  @include screen-desktop {
    max-height: 670px;
  }

  .cartPage--product:first-child {
    border-top: 2px solid var(--c-ultra-violet);
  }
}

.cartPage--interest {
  margin-bottom: 24px;
}

.cartPage--interest-products {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $cardSizeMobile);
  padding-top: 16px;
  gap: 10px;

  @include smaller-screens {
    grid-template-columns: repeat(auto-fill, $cardSizeSmaller);
  }

  @include for-tablet-portrait-up {
    padding-top: 32px;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, $cardSizeDesktop);
  }

  @include screen-desktop {
    gap: 32px;
    grid-template-columns: repeat(auto-fit, $cardSizeDesktop);

    .card {
      width: 100%;
    }
  }
}

.cartPage--calculate {
  display: none;
  flex-direction: column;
  padding: 32px;
  max-width: 450px;
  margin: 0 auto;
  background-color: var(--c-light-violet);
  height: fit-content;
  border-radius: 24px;

  @include screen-desktop {
    display: flex;
    padding: 48px;
    width: 500px;
    max-width: none;
  }
}

.cartPage--calculate-mobile {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @include screen-desktop {
    display: none;
  }
}

.calculate--subtotal,
.calculate--shipment,
.calculate--total {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.85px solid var(--c-ultra-violet);
  padding: 8px 0;
}

.calculate--shipment {
  padding: 24px 0;

  p:last-child {
    font-weight: 400;
    text-align: end;
  }
}

.calculate--button {
  width: 90%;
  margin: 16px auto 0;
  padding: 6px 0;

  border-radius: 100px;
  border: 1px solid transparent;
  background-color: var(--c-ultra-violet);
  color: var(--c-linen);

  &:hover {
    background-color: lighten(#595280, 5%);
    cursor: pointer;
  }
}

.calculate--total {
  border-bottom: 2px solid var(--c-ultra-violet);
}

.calculate--title {
  @include font-titles;
  border-bottom: 2px solid var(--c-ultra-violet);
}

.calculate--prices {
  @include font-texts;
  font-weight: 700;
}

.calculate--labels {
  @include font-titles;
}
