@import '../../globals.scss';

.cartPage {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 16px;
  gap: 16px;
  color: var(--c-ultra-violet);

  @include screen-desktop {
    flex-direction: row;
  }
}

.cartPage--extended {
  padding: 16px 0;
  @include screen-desktop {
    padding: 16px 16px 16px 0;
    flex-grow: 1;
    border-right: 2px solid var(--c-ultra-violet);
  }
}

.cartPage--products-titles {
  display: none;

  @include screen-desktop {
    display: flex;
    width: 100%;
    gap: 24px;

    p:not(:first-child) {
      width: 100px;
      text-align: center;
    }

    p:first-child {
      flex-grow: 1;
    }

    @include font-titles;
  }
}

.cartPage--products-list {
  max-height: 450px;
  overflow-y: scroll;
  scrollbar-width: thin;
  margin-bottom: 16px;

  @include screen-desktop {
    max-height: 670px;
  }

  .cartPage--product:first-child {
    border-top: 2px solid var(--c-ultra-violet);
  }
}
