@import '../../app/globals.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: $cardSizeMobile;
  height: auto;
  aspect-ratio: 0.7;
  padding: 12px;

  overflow: hidden;
  background-color: var(--c-light-violet);

  @include smaller-screens {
    width: $cardSizeSmaller;
  }

  @include for-tablet-portrait-up {
    aspect-ratio: 0.81;
    width: $cardSizeDesktop;
    padding: 16px;
  }

  @include screen-desktop {
    padding: 20px;
  }

  &:hover {
    background-color: var(--c-tea-green);
    .card--image-box {
      @include smaller-screens {
        margin-bottom: 6px;
      }

      margin-bottom: 10px;
    }

    .card--controls {
      margin-top: 10px;
      max-height: 100px;
      opacity: 1;
      visibility: visible;

      @include smaller-screens {
        margin-top: 6px;
      }
    }
  }
}

.card--image-box {
  position: relative;
  flex-grow: 1;

  height: auto;
  width: 100%;
  margin-bottom: 20px;

  transition: all 0.4s ease-out;

  @include screen-desktop {
    margin-bottom: 26px;
  }
}

.card--image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card--info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  color: var(--c-ultra-violet);
  font-size: 13px;
  @include font-titles;

  @include for-tablet-portrait-up {
    font-size: var(--sm);
  }
}

.card--title {
  display: inline-block;
  max-width: 50%;
  font-weight: 400;
  line-height: 1.2;
  font-size: inherit;
}

.card--price {
  text-align: right;
}

.card--controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;

  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition:
    max-height 0.4s ease-out,
    opacity 0.4s ease-out,
    visibility 0.4s ease-out;

  @include smaller-screens {
    gap: 6px;
  }
}

.card--prices-box {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include for-tablet-portrait-up {
    gap: 10px;
  }

  label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 32%;
    padding: 2px 0;

    text-align: center;
    font-size: var(--xxs);
    color: var(--c-light-violet);
    background-color: var(--c-ultra-violet);

    &:hover {
      cursor: pointer;
    }

    &:has(input:checked) {
      background-color: var(--c-african-violet);
      color: var(--c-linen-texts);
    }

    @include for-tablet-portrait-up {
      font-size: 13px;
    }
  }

  input {
    position: absolute;
    width: 0;
    opacity: 0;
    margin: 0;
    pointer-events: none;
  }
}

.styled--button {
  @include button-basic-styles;
}

.card .card--btn-cart {
  font-size: 12px;
  background-color: transparent;
  border: 1px solid var(--c-ultra-violet);
  color: var(--c-ultra-violet);
  padding: 4px 16px;

  & img {
    margin-top: 0;
    width: 12px;
    filter: var(--filter-ultra-violet);
  }

  &:hover,
  &:focus {
    background-color: var(--c-african-violet);
    color: var(--c-linen-texts);
    cursor: pointer;

    & img {
      filter: var(--filter-linen);
    }
  }

  p:nth-child(1) {
    @include for-tablet-portrait-up {
      display: none;
    }
  }

  p:nth-child(2) {
    display: none;

    @include for-tablet-portrait-up {
      display: block;
    }
  }

  @include for-tablet-portrait-up {
    font-size: var(--xs);
    padding: 8px 16px;

    & img {
      width: 14px;
    }
  }
}
