@import '../../app/globals.scss';

.featured {
  position: relative;
}

.featured--content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  max-width: 300px;
  padding: 0px 16px 40px;

  @include for-tablet-portrait-up {
    left: 50%;

    justify-content: space-between;
    flex-direction: row;

    padding: 100px 28px 24px;
    max-width: 1000px;

    transform: translateX(-50%);
  }

  @include screen-desktop {
    padding: calc(6.5vw + 100px) 0 24px;
  }
}

.featured--title {
  color: var(--c-linen);
  line-height: 1;
  font-weight: 400;
  font-size: 40px;
  margin-top: auto;

  @include font-titles;
  @include for-tablet-portrait-up {
    font-size: 57px;
  }

  @include screen-desktop {
    font-size: 64px;
  }

  & span {
    color: var(--c-light-violet);
  }
}

.featured--description {
  color: var(--c-linen);

  @include font-texts;
  @include for-tablet-portrait-up {
    text-align: right;
    font-size: var(--md);
    max-width: 32%;
  }

  @include screen-desktop {
    font-size: var(--lg);
  }
}

.featured--title,
.featured--description {
  display: inline-block;
  height: fit-content;
}
