@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* Display mixins  */
@mixin screen-desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

/* Font mixins */

@mixin font-texts {
  font-family: var(--font-lato);
}

@mixin font-titles {
  font-family: var(--font-absolutely);
}

/* Layout mixins */

@mixin view-width-100 {
  min-width: 320px;
  width: 100vw;
}

/* Button mixins */

@mixin button-basic-styles {
  color: var(--c-linen);
  background-color: var(--c-ultra-violet);
  border: none;
  transition:
    0.3s cursor,
    0.3s background-color;
  overflow: hidden;

  &:hover,
  &:focus {
    background-color: lighten(#595280, 5%);
    cursor: pointer;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(white, 0.1);
    border-radius: 100%;
    transition: all 0.3s ease;
  }

  &:active {
    &:after {
      width: 130%;
      height: auto;
    }
  }
}

/* Offset variables */

$offset-x: 6.5vw;
$offset-top: 4.7vw;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  min-width: 320px;
  text-rendering: optimizeSpeed;
  font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Format paragraphs and titles */

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  --c-linen: #d9cfc6;
  --c-thistle: #cdc1d3;
  --c-tea-green: #c4d0af;
  --c-ultra-violet: #595280;
  --c-persian-orange: #cf9068;
  --c-african-violet: #9380b3;
  --filter-african-violet: invert(57%) sepia(28%) saturate(475%)
    hue-rotate(221deg) brightness(89%) contrast(85%);
  --filter-linen: invert(92%) sepia(10%) saturate(594%) hue-rotate(318deg)
    brightness(107%) contrast(87%);

  --bg: #d9cfc6;
  --xs: 14px;
  --sm: 16px;
  --md: 18px;
  --lg: 23.2px;
  --xl: 28px;
  --text: 30px;
}

.font-titles {
  font-family: var(--font-absolutely);
}

.font-texts {
  font-family: var(--font-lato);
}

body {
  background-color: var(--bg);
  @include font-texts();
}
