@import '../../app/globals.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1vw;
  @include view-width-100;
  @include offset-top;
  @include offset-x;

  @include screen-desktop {
    position: fixed;
    padding-bottom: 0;
  }
}

.icons {
  width: 24px;

  @include for-tablet-portrait-up {
    width: 34px;
  }
}

.header--menu-icon {
  color: var(--c-african-violet);

  @include for-tablet-portrait-up {
    display: none;
  }
}

.header--logo-icon {
  width: 8vw;
  min-width: 40px;
  max-width: 70px;
}

.header--icon-container {
  @include for-tablet-portrait-up {
    display: flex;
    justify-content: center;
    width: 8%;
    min-width: 40px;
    max-width: 70px;
  }
}

.header--sections {
  display: none;
  font-size: var(--md);
  gap: 12px;
  @include font-titles;

  @include for-tablet-portrait-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 22px;
  }

  a {
    text-decoration: none;
  }
}

@mixin linkColor($hasWhiteBg, $isActive) {
  @if $isActive == 'true' {
    color: #ffffff;
  } @else {
    color: var(--c-african-violet);
  }

  @include screen-desktop {
    @if ($hasWhiteBg == 'true') {
      @if ($isActive == 'true') {
        color: #ffffff;
      } @else {
        color: var(--c-african-violet);
      }
    } @else if ($hasWhiteBg == 'false') {
      @if ($isActive == 'true') {
        color: darken(#eee6de, 15%);
      } @else {
        color: var(--c-linen);
      }
    }
  }
}

.link--active-whiteBg {
  @include linkColor('true', 'true');
}

.link--active-noWhiteBg {
  @include linkColor('false', 'true');
}
.link--unactive-whiteBg {
  @include linkColor('true', 'false');
}
.link--unactive-noWhiteBg {
  @include linkColor('false', 'false');
}

.header--cart-icon,
.header--logo-icon {
  filter: invert(57%) sepia(28%) saturate(475%) hue-rotate(221deg)
    brightness(89%) contrast(85%);

  @include screen-desktop {
    filter: invert(92%) sepia(10%) saturate(594%) hue-rotate(318deg)
      brightness(107%) contrast(87%);
  }
}
