@import '../../app/globals.scss';

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $offset-top $offset-x 0;

  @include screen-desktop {
    position: absolute;
    z-index: 10;
  }
}

.icons {
  width: 24px;

  @include for-tablet-portrait-up {
    width: 34px;
  }
}

.header--menu-icon {
  @include for-tablet-portrait-up {
    display: none;
  }
}

.header--logo-icon {
  width: 8vw;
  min-width: 40px;
  max-width: 70px;
}

.header--icon-container {
  @include for-tablet-portrait-up {
    display: flex;
    justify-content: center;
    width: 8%;
    min-width: 40px;
    max-width: 70px;
  }
}

.header--sections {
  display: none;
  font-size: var(--md);
  gap: 12px;
  @include font-titles;

  @include for-tablet-portrait-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 22px;
  }
}

a {
  text-decoration: none;
}

header .icons-whiteBg {
  filter: var(--filter-african-violet);
}

.header--cart-icon,
.header--logo-icon,
.header--menu-icon {
  filter: var(--filter-african-violet);

  @include screen-desktop {
    filter: var(--filter-linen);
  }
}

@mixin linkColor($hasWhiteBg, $isActive) {
  @if ($hasWhiteBg == 'true') {
    @if $isActive == 'true' {
      color: #ffffff;
    } @else {
      color: var(--c-african-violet);
    }
  } @else {
    @if ($isActive == 'true') {
      color: darken(#eee6de, 15%);
    } @else {
      color: var(--c-linen);
    }
  }

  @include for-tablet-portrait-up {
    @if $isActive == 'true' {
      color: #ffffff;
    } @else {
      color: var(--c-african-violet);
    }
  }

  @include screen-desktop {
    @if ($hasWhiteBg == 'true') {
      color: var(--c-african-violet);
    } @else {
      @if ($isActive == 'true') {
        color: darken(#eee6de, 15%);
      } @else {
        color: var(--c-linen);
      }
    }
  }
}

.link--active-whiteBg {
  @include linkColor('true', 'true');
}

.link--active-noWhiteBg {
  @include linkColor('false', 'true');
}

.link--unactive-whiteBg {
  @include linkColor('true', 'false');
}

.link--unactive-noWhiteBg {
  @include linkColor('false', 'false');
}

@mixin mobileMenu($state) {
  @if ($state == 'true') {
    transform: translateY(0%);
    opacity: 100%;
    visibility: visible;
  } @else {
    transform: translateY(-50%);
    opacity: 0%;
    visibility: hidden;
  }
}

.header--mobile-true {
  @include mobileMenu('true');
}

.header--mobile-false {
  @include mobileMenu('false');
}

/* Open to suggestions about background color, FTM a border added to avoid look exactly like the header */
.header--mobile {
  display: flex;
  flex-direction: column;
  padding: 20px $offset-x;
  gap: 8px;
  width: 100%;

  position: absolute;
  z-index: 10;
  left: 0;
  top: calc($offset-top + 100px);

  background-color: var(--c-ultra-violet);
  transition: all 0.3s ease;

  @include font-titles;

  @include for-tablet-portrait-up {
    display: none;
  }
}
