@import '../../app/globals.scss';

.backgroundPhoto--container {
  position: relative;
  height: auto;
  @include view-width-100;

  img {
    position: relative;
    z-index: 1;
    height: 350px;
    object-fit: cover;

    @include for-tablet-portrait-up {
      width: 100%;
      height: auto;
    }
  }
}

.backgroundPhoto--shadow {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
  z-index: 2;

  background: radial-gradient(
    58.44% 54.57% at 50% 49.93%,
    rgba(255, 255, 255, 0) 0%,
    rgba(252, 250, 249, 0.0009) 14%,
    rgba(246, 239, 232, 0.0169) 34%,
    rgba(237, 220, 205, 0.0784) 59%,
    rgba(223, 195, 168, 0.2401) 87%,
    rgba(217, 182, 149, 0.6) 100%
  );
  mix-blend-mode: multiply;

  @include for-tablet-portrait-up {
    width: 100%;
    height: 100%;
  }
}
