@import '../../app/globals.scss';

.cartPage--interest {
  margin-bottom: 24px;
}

.cartPage--interest-products {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $cardSizeMobile);
  padding-top: 16px;
  gap: 10px;

  @include smaller-screens {
    grid-template-columns: repeat(auto-fill, $cardSizeSmaller);
  }

  @include for-tablet-portrait-up {
    padding-top: 32px;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, $cardSizeDesktop);
  }

  @include screen-desktop {
    gap: 32px;
    grid-template-columns: repeat(auto-fit, $cardSizeDesktop);

    .card {
      width: 100%;
    }
  }
}

.cartPage .cartPage--button-back {
  flex-direction: row-reverse;
  padding: 6px 8px 6px 2px;
  gap: 2px;
}

.cartPage--bottom {
  max-width: 1200px;

  color: var(--c-ultra-violet);

  @include screen-desktop {
    margin: 0 auto;
  }
}

.cartPage--empty + .cartPage--bottom {
  padding: 12px;

  @include screen-desktop {
    padding: 24px;
  }
}
